article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

html {
font-size:100%;
overflow-y:scroll;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

#body-wrapper{
width:960px;
margin:0 auto; 
padding:5px 0;
}

body,input,textarea {
font:12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
background:#FFF;
color:#000;
background: url("../images/bg.png") repeat scroll 0 0 transparent;
}

.clear {clear: both}

strong {font-weight: bold;}

.one_half { width: 48%; }
.one_third { width: 30.5%; }
.one_fourth { width: 22%; }
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.four_fifth,
.one_sixth,
.five_sixth {
position: relative;
margin-right: 4%;
margin-bottom: 20px;
float: left;
}

.column-last {
margin-right: 0!important;
clear: right;
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.box {
    border-top: 1px solid #CCC;
    float: left;
    margin: 10px 0 30px;
    padding-top: 20px;
    width: 100%;
}

.box span {
    border-bottom: 1px solid #CCC;
    color: #444;
    display: block;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 25px;
	margin-bottom: 40px;
}

a {
	text-decoration: none;
	color: #000;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
}

a:hover {
	color: #F34B47;
	border-color: #;
	}

p{
margin-bottom: 15px;
}
	
h1 + p, h2 + p, h3 + p{
margin-top: -10px;
}

h1, h2, h3, p, ul, ol {
color: #3B3D3F;
font-weight: normal;
margin: 0 0 20px;
}

h1 {
	font-weight: normal;
	font-size: 22px;
}

h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}

.header {
    background: url("#") repeat-x scroll left top transparent;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#logo {
    float: left;
    margin-right: 50px;
	margin-top:25px;
}

#menu {
    margin-top: 17px;
}

.menu, .menu * {
    float: right;
    list-style: none outside none;
    margin: 10px;
    padding: 0;
}

.menu a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #d3d4d6;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
}

.menu a:hover {
	color: #F34B47;
	border-color: #;
}

#footer-main {
   bottom:0;
   width:100%;
   height:180px; 
   background:#717171;
}

#footer-main p {
padding:20px;
color:white;
 text-shadow: 0 0px 0 rgba(255, 255, 255, 0.8);
}

#footer-main h3 {
padding:20px 0px 0px 20px;
color:white;
 text-shadow: 0 0px 0 rgba(255, 255, 255, 0.8);
 margin-bottom:-10px;
} 

#footer {
   bottom:0;
   width:100%;
   height:40px; 
   background:#fff;
}
 
#footer-text {
padding-left:20px; 
}